<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Sopa de Caracol</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/Sopa_de_Caracol.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Deliciosa sopa preparada con Aceite de oliva virgen, anis, chile,
            romero, caracoles, naranja, jengibre
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Sopa de Pollo</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/Sopa_de_pollo.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            El caldo de pollo es una sopa.​ A menudo se sirve con trozos de
            carne o con granos de arroz o cebada, pasta, zanahoria, papa
            amarilla, apio, cebolla blanca, etc.​ Se considera también un
            remedio casero contra los enfriamientos y los catarros y la rinitis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Sancocho</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/sancocho.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            El sancocho es una sopa hecha con carnes, tubérculos, verduras y
            condimentos, típica de países latinoamericanos como Colombia,
            Ecuador, República Dominicana, Panamá, Puerto Rico, Trinidad y
            Tobago y Venezuela.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Chaulafan de pollo</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/chaulafan_pollo.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            El chaulafan de pollo es la versión ecuatoriana del arroz frito
            chino preparado con arroz, pollo, tocino, cebolla, ajo, pimientos,
            arvejas, zanahorias, huevos revueltos, pasas, especias y hierbas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Arroz Salteado</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/Arroz_Salteado.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Una forma fácil de identificar cuale son los cereales integrales es
            por su color café. Entre estos están la quinua, cebada, avena, trigo
            entero, arroz integral, entre otros.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Chaulafan mixto</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/chaulafan_mixto.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Este delicioso chaulafán mixto especial se prepara con arroz, pollo,
            carne de cerdo, camarones, vegetales, huevo, salchicha
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Natilla de manjar</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/natilla_manjar.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Tanto el manjar blanco como la natilla son pastas bastante dulce,
            que se elabora en base a leche de vaca y azúcar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Corona Blanca con frutas</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/corona_blanca.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            El kiwi forma parte del grupo de frutas con mayor contenido de
            vitamina C. Incluso tiene más vitamina C que el limón o la naranja.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Crema de banano</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="../../../assets/img/Products/crema_banano.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Los bananos son ricos en potasio, un mineral que ayuda a equilibrar
            el agua del cuerpo y favorece la eliminación de líquidos. Es muy
            rico también en hidratos de carbono, por lo que se recomienda
            consumir 1 unidad al día.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-5">
            <br />
            <span class="section-heading-upper">Complete</span>
            <span class="section-heading-lower">Lunch Menu</span>
          </h2>

          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              <strong>Platillo</strong>

              <span class="ms-auto"><strong>Precio</strong></span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sopa de Caracol

              <span class="ms-auto">2,80</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sopa de Pollo

              <span class="ms-auto">1,50</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sancocho

              <span class="ms-auto">1,80</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Chaulafan de Pollo

              <span class="ms-auto">2,50</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Chaulafan Mixto

              <span class="ms-auto">3,00</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Arroz Salteado

              <span class="ms-auto">2,00</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Natilla de Manjar

              <span class="ms-auto">1,00</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Crema de banano

              <span class="ms-auto">1,50</span>
            </li>
          </ul>

          <p class="address mb-5">
            <em>
              <strong>Restaurante Gourmet</strong>
            </em>
          </p>
          <p class="mb-0">
            <small><em>Cuidamos tu comida, cuidamos de ti.</em></small>
          </p>
          <br />

          <h2 class="section-heading mb-5"></h2>
        </div>
      </div>
    </div>
  </div>
</section>
