<style>
  #informacion {
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    color: white;
    background-image: url("Piso.jpg");
  }
</style>
<style>
  * {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .centrado {
    position: absolute;
    top: 36%;
    left: 8%;
    transform: translate(-50%, -50%);
  }
  .centrado2 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centrado3 {
    position: absolute;
    top: 36%;
    left: 92%;
    transform: translate(-50%, -50%);
  }
</style>
<div id="informacion" style="background-image: url('/assets/img/Piso.jpg')">
  <b class="Titulofoto">MESAS</b><br />

  <div class="contenedor">
    <img src="/assets/img/comedor 4.png" hspace="250" />
    <div class="centrado">
      <label id="m1" style="background-color: green; font-size: 25px;">1</label>
    </div>
    <div class="centrado2">
      <label id="m2" style="background-color: green; font-size: 25px;">2</label>
    </div>
    <img src="/assets/img/comedor 6.png" hspace="250" />
    <div class="centrado3">
      <label id="m3" style="background-color: green; font-size: 25px;">3</label>
    </div>
    <img src="/assets/img/comedor 4.png" />
  </div>

  <div class="contenedor">
    <img src="/assets/img/comedor 6.png" hspace="250" />
    <div class="centrado">
      <label id="m4" style="background-color: green; font-size: 25px;">4</label>
    </div>
    <div class="centrado2">
      <label id="m5" style="background-color: green; font-size: 25px;">5</label>
    </div>
    <img src="/assets/img/comedor 2.png" hspace="250" />
    <div class="centrado3">
      <label id="m6" style="background-color: green; font-size: 25px;">6</label>
    </div>
    <img src="/assets/img/comedor 6.png" />
  </div>

  <div class="contenedor">
    <img src="/assets/img/comedor 2.png" hspace="250" />
    <div class="centrado">
      <label id="m7" style="background-color: green; font-size: 25px;">7</label>
    </div>
    <div class="centrado2">
      <label id="m8" style="background-color: green; font-size: 25px;">8</label>
    </div>
    <img src="/assets/img/comedor 4.png" hspace="250" />
    <div class="centrado3">
      <label id="m9" style="background-color: green; font-size: 25px;">9</label>
    </div>
    <img src="/assets/img/comedor 2.png" />
  </div>

  <div class="contenedor">
    <img src="/assets/img/comedor 4.png" hspace="250" />
    <div class="centrado">
      <label id="m10" style="background-color: green; font-size: 25px;">10</label>
    </div>
    <div class="centrado2">
      <label id="m11" style="background-color: green; font-size: 25px;">11</label>
    </div>
    <img src="/assets/img/comedor 6.png" hspace="250" />
    <div class="centrado3">
      <label id="m12" style="background-color: green; font-size: 25px;">12</label>
    </div>
    <img src="/assets/img/comedor 2.png" />
  </div>
</div>

